{% extends "base.html" %}

{% block title %} Ecommerce - Products {% endblock title %}

{% block content %}

  <div class="row">
  	<div class="col-12 col-md-10 ">
  		<h1> Latest Products</h1>
  	</div>
  	<div class="col-2">
  		<a href="{{ instance.get_absolute_url }}" class="btn btn-info float-right ">See More</a>
  	</div>
    <div class="col-12">
      <hr>
    </div>
  	{% for obj in object_list %}
  	<div class="col-12 col-md-4 ">
  		{% include "products/snippets/card.html" with instance=obj %}
  	</div>
  	{% endfor%}
  </div>
  <!-- <div class="row">
  	{% for obj in object_list %}
    <div class="col">
		<a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
		{% if obj.image %}
		<img  src="{{obj.image.url}}" alt ="{{ obj.title}}"> 
		{% endif %} 
    </div>
    {% endfor%}
  </div> -->



{% endblock content %}
